.dropzone {
    border: 2px dashed;
    width: 30px;
    height: 75vh; 
    margin: auto; 
    background-color: #fd6746ff;
    text-align:center;
    border-radius:13px;
}
.outer-dropzone{
    width: calc(80vh * 1 / 1.50); /* Calculate width based on the height */
    height: 80vh;
    margin: auto;
    padding: 20px;
    background-color: ##FF5733;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.inner-dropzone{
    width: 100%;
    height: 100%;
    border: 2px dashed #ccc;
    background-color: transparent;
    text-align: center;
    color:white;
    font-family: 'MetropolisNF', sans-serif;
    font-size:bold;
    cursor: pointer;
    border-radius: 13px;  
}